* {
  /* Set global styling to all webpages */
  color: #FFF8F0;
  font-family: 'Noto Serif KR', serif;
}

a {
  font-weight: bold;
}

body {
  /* Give a red background to all webpages */
  background-color: #BC0624;
}

h1, h2, h3, h4, h5, span {
  /* Style headings to center and box to all webpages*/
  background-color: #343a40;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin: 10px 0 10px 0;
  text-align: center;
}

span {
  font-size: larger;
}

i {
  /* Style icons in contact.html */
  margin: 5px;
  color: white;
}

img {
  /* Style images in all webpages to center and provide boxes/borders */
  display: flex;
  margin: 10px auto 10px;
  padding: 10px;
  min-width: 280px;
  min-height: 280px;
  border: solid white 2px;
  border-radius: 15px;
  background-color: #343a40;
  width: 300px;
  height: 300px;
}

li {
  /* Left-align table content in index.html */
  text-align: left;
}

  /* Center-align column headers in index.html */
td, thead {
  text-align: center;
}

.btn-primary {
  /* Change the background color for the submit button on contact.html */
  margin: 0 0 15px 15px;
  background-color:  #343a40;
  border: solid white 2px;  
}

.btn-primary:hover {
  /* Change button color to marron while hovered over */
  background-color: #01BAEF;
}

.navbar, #table, .headings {
  /* Give borders to table, heading elements, and navbar */
  border: solid white 2px;
}

.navbar-dark .navbar-nav .nav-link {
  /* Overwrite bootstrap font color for the navbar */
  color: white;
}

#links {
  /* Style links in contact.html to provide box */
  background-color: #343a40;
  border: solid white 2px;
  margin: 10px 0 0 16px;
}

#living {
  /* Negate padding provided by bootstrap which was pushing content in index.html */
  padding: 0 0 0 0;
}

#resume {
  height: 600px;
  width: 463px;
}

#download {
  background-color: #343a40;
  border: solid white 2px;
  padding: 3px 5px 3px 5px ;
}

@media (max-width: 375px) {
  #resume{
    height: 388px;
    width: 300px;
  }
}